<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="https://dover.sharepoint.com/sites/DIIC/DoverIntranetAssets/Header%20Menu%20Section/Dover.png?ctag=211116" alt="logo" class="logo-image" data-themekey="#">
  <span>Dover Hail Storm History Analysis</span>
    <div class="spacer">
      
    </div>
</div>
<br/><br/>
<div class="iframeCss">
  <iframe width="1800" height="750" src="https://app.powerbi.com/reportEmbed?reportId=b605856f-5794-4b65-95b5-d265ea926369&autoAuth=true&ctid=3d2d2b6f-061a-48b6-b4b3-9312d687e3a1&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>



<router-outlet></router-outlet>